{% extends 'base.html' %}
{% block content %}
    <h1>Wish List Items</h1>
   {% if items|length == 0 %}
    <h3>No Wish Items Exist</h3>
    {% else %}
    
    <table class="pure-table pure-table-striped">
        <thead>
            {% for item in items.all %}
            <tr><th>Description</th><th>Delete</th></tr>
        </thead>
        <tbody>
            <tr>
                <td>{{item.description}}</td>
                <td><a href="{% url 'delete_item' item.id %}">X</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    
    {% endif %}
    <hr />
    <a href="{% url 'items_create' %}" class="pure-button">Add Wish Item</a>
{% endblock %}

